@import "src/sass/variables";

.item-reminder {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
  }

  .reminder {
    cursor: pointer;
    background-color: $primary;
    padding: 5px;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    align-items: center;
    color: $white;
    font-size: 0.8em;
    margin: 8px 0px 2px 0px;
  }
}
