@import "src/sass/variables";

.calendar {
  padding: 40px;

  .changer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  table {
    width: 100%;
    height: 100%;

    tbody {
      .reminders-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 15vh;
      }

      th {
        background-color: $primary;
        color: $white;
        text-align: center;
      }

      td {
        width: 80px;
        height: 15vh;
        max-width: 80px;
        vertical-align: initial;
        border: solid 1px gray;
        transition: all 0.1s ease-in-out;
      }

      .add {
        display: none;
      }

      td:hover {
        background-color: $white;
        transform: scale(1.3);
        .add {
          display: block;
        }
      }

      td:first-child {
        background-color: $light-gray;
        color: $primary;
      }
      td:last-child {
        background-color: $light-gray;
        color: $primary;
      }
    }
  }
}
