.changer {
  display: flex;
  margin: 0 10px 10px 10px;
  align-items: center;

  button {
    border-radius: 20px;
  }

  label {
    font-size: 18px;
  }

  span {
    padding: 5px;
    min-width: 100px;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
  }
}
